.virtualenvpablo/
__pycache__/
storage/
.vscode/
debug_config/
finetuning/

data/CV/*
data/JobDesc/*
data/Workday/*
data/Text/CV/*
data/Text/JobDesc/*
data/Preprocessing/CV/*
data/Preprocessing/JobDesc/*
data/Extraction/CV/*
data/Extraction/JobDesc/*

ocr/*.json